.top-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .title{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .subtitle{
        width: 90%;
        padding: 10px;
        text-align: justify;
        font-size: 18px;
    }
}